Projeto 1 - servidor de usuarios/node_modules/
Projeto 2 - Servidor de Produtos/node_modules/
Projeto 3 - servidor de pedidos/node_modules/
Projeto 1 - servidor de usuarios/package-lock.json
Projeto 2 - Servidor de Produtos/package-lock.json
Projeto 3 - servidor de pedidos/package-lock.json