body {
  background-color: #eeeeee;
  height: 100vh;
}

main {
  justify-content: center;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

/*
 justfy-content: center;
 justfy-content: space-between;
 justfy-content: space-around;
 justfy-content: flex-start;
 justfy-content: flex-end;
*/

h1 {
  padding-top: 5px;
  font-size: 10px;
  text-align: center;
}
h2 {
  padding-top: 5px;
  font-size: 5px;
  text-align: center;
}
p {
  padding-top: 5px;
  font-size: 5px;
  text-align: center;
}

.teste-diplay {
  background-color: #cbcbcb;
  width: 50px;
  height: 50px;
}

.teste1 {
  background-color: #cbcbcb;
}
.teste2 {
  background-color: #cbcbcb;
}
.teste3 {
  background-color: #cbcbcb;
}

/* o que fica dentro do parenteses chamamos de BreakPoint há um breakpoint 
de Mobile (480px),
de Tablet (768px) ,
de Desktop (1024px) 

responsividade aplicada para o mobile, geralmente dininuimos o tamanho do texto, altura e largura das imagens, mudamos o posicionamento do display para coluna, transformamos o meunu superior  para lateral

*/

@media (max-with: 480px) {
  main {
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 5px;
  }
}

@media (max-with: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 5px;
  }
}

@media (max-with: 1024px) {
  main {
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 5px;
  }
}

.box {
  position: fixed;
  position: static;
  position: absolute;
  position: relative;

}
#block .box{
    display: block;
    position: relative;
    top: 10px;
    left: 15px;
}